/node_modules
/public/hot
/public/storage
/public/img/Icon.png
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
./google_credential.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/*.index
google_credential.json
/public/js/app.js
/public/css/app.css
