*{
  transition: 0.15s;
}

html, body {
  height: 100%;
  background-color:$blue;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.masthead {
  height: 100vh;
  min-width: 320px;
  min-height: 500px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9), $blue),
  url('/img/hero-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.display-logo {
    font-size: 10vh;
    font-weight: 300;
    line-height: 1.2;
}

.blue {
  color: $blue;
}

.gray {
  color: $gray;
}

.white {
  color: $white;
}

.pt-home {
    padding-top: 20vh;
}

